@import "_header";

h1 {
   color: rgb(254, 255, 254)40, 172, 140);
}
body {
   font-size: 30px;
   div {
      font-size: 10px;
   }
}
.block {
   &__item {
      font-size: 30px;
   }
}

.red {
   color: red;
}
